#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title{
  padding: 0.4rem;
  background-color:#F652A0;
  font-size: 1.4rem;
  letter-spacing: 0.4rem;
  color:#36EEE0;

}

.App {
  display:grid;
  /* padding: 1rem; */
  background-color: #BCECE0;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1.4rem;
  color:#F652A0

}

.puppyInfo {
  padding: 0.2rem;
  background-color:#4C5270;
  font-size: 1.6rem;
  color: #BCECE0;
}

.puppyName{
  color:#F652A0;
}

.list{
  list-style: none;
  font-weight: normal;
  color:#36EEE0;
}